.main {
  width: 100%;
  padding-top: 16rem;
}

.banner__slide {
  display: flex;
  width: 200%;
  height: 100%;
}

.banner__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.banner__img {
  width: 100%;
  max-width: 944px;
  max-height: 500px;
  object-fit: cover;
}

.banner__link:nth-child(odd) {
  background-color: #92b6d0;
}

.banner__link:nth-child(even) {
  background-color: #f2abb9;
}

.banner__order {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.banner__order li .banner__button {
  color: transparent;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 50%;
}

.banner__order li.slide-active .banner__button {
  background-color: rgba(0, 0, 0);
}

.content {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 200vh;
}
