.policy {
  max-width: 1024px;
  margin: 0 auto;
  padding: 8rem 4rem;
  color: #191919;
  line-height: 2.6rem;
}

.policy__header {
  padding-bottom: 5.9rem;
  border-bottom: 1px solid #ebebeb;
}

.policy__title {
  font-size: 2.6rem;
}

.term {
  margin-top: 5rem;
  font-size: 1.6rem;
}

.term__list {
  position: relative;
  padding-left: 1.8rem;
}

.term__count {
  position: absolute;
  left: 0;
  margin-right: 1rem;
  color: #7f7f7f;
}

.term__desc {
  margin-top: 1.2rem;
  color: #7f7f7f;
  text-align: justify;
}
