.faq {
  background-color: var(--bgc-section);
}

.faq-top {
  position: relative;
}

.faq__title {
  padding: 3rem 2rem 0;
}

.faq__area-tab {
  padding: 1.5rem 0;
}

.faq__list-tab {
  transform: translateX(0px);
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.out-left {
  transition: transform 0.3s ease;
}

.faq__item-tab {
  display: inline-block;
  padding-right: 0.8rem;
}

.faq__item-tab:first-child {
  padding-left: 2rem;
}

.faq__image {
  display: none;
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 90px;
}

.faq__list-faq {
  padding: 1rem;
  padding-top: 0;
  display: none;
}

.faq__item-faq {
  position: relative;
  width: 100%;
  margin-bottom: 0.8rem;
}

.faq__desc {
  background-color: #fff;
  height: 0;
  overflow: hidden;
}

.faq__text {
  text-align: justify;
  line-height: 1.8rem;
  color: var(--fc-text);
}

.faq__item-faq.on .faq__desc {
  padding: 1rem;
  padding-top: 0;
  height: 100%;
}

.faq__list-faq.on {
  display: block;
}

@media screen and (min-width: 768px) {
  .faq {
    padding: 4rem;
    max-width: 1024px;
    margin: 0 auto;
  }

  .faq__list-tab {
    margin-top: 1.7rem;
  }

  .faq__title {
    font-size: 2.4rem;
  }

  .faq__image {
    display: block;
  }
}
