.number-area {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: var(--c-white);

  /* Variables */
  --h-header: 0px;
  --h-nav: 0px;
}

.number__header {
  position: relative;
  width: 100%;
  height: 116px;
  padding-top: 2.4rem;
  text-align: center;
  background-color: var(--bgc-kakao);
}

.number__title {
  font-size: 1.5rem;
}

.number__form {
  padding: 4rem 3rem;
}

.number__input {
  width: 100%;
  padding: 1.2rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: 0;
}

.number__input::placeholder {
  color: var(--fc-text);
}

.number__tit-caution {
  display: inline-block;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.number__item-caution {
  position: relative;
  margin-top: 1rem;
  padding-left: 1.5rem;
  color: var(--fc-text);
  line-height: 1.8rem;
  text-align: justify;
}

.number__item-caution::before {
  position: absolute;
  content: '·';
  left: 3px;
  top: 0;
}

.number__button {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem 3rem;
  background-color: var(--c-white);
}

@media screen and (min-width: 1024px) {
  .number-area {
    padding-top: 60px;
  }
}
