.btn-close-topbnr {
  position: absolute;
  top: 0;
  right: 5px;
  width: 40px;
  height: 100%;
}

.btn-open-sidemenu,
.btn-open-search {
  position: relative;
  width: 40px;
}

.btn-open-profile {
  width: 48px;
  display: none;
}

.btn-remove {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  padding: 1rem 0.7rem;
}

.btn-remove--show {
  display: block;
}

.btn-cancel {
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  line-height: 5.4rem;
}

.btn-logout {
  width: 100%;
  padding: 1.4rem 0;
  font-size: 1.2rem;
  background-color: var(--c-white);
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.btn-search {
  display: none;
}

.btn-movetop {
  margin: 2rem 0;
}

.btn-next {
  width: 100%;
  height: 50px;
  color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.btn-next--active {
  color: var(--fc-title);
  background-color: var(--bgc-kakao);
}

.btn-tab {
  background-color: var(--c-white);
  padding: 0.6rem 1.4rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2rem;
}

.faq__item-tab--on .btn-tab {
  color: #fff;
  font-weight: 500;
  background-color: #3b3b3b;
}

.btn-faq {
  text-align: left;
  padding: 0 4rem 0 2rem;
  width: 100%;
  height: 55px;
  font-size: 1.5rem;
  background-color: #fff;
}

.faq__item-faq.on .btn-faq {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .btn-close-topbnr,
  .btn-open-sidemenu,
  .btn-open-search {
    width: 44px;
  }

  .btn-open-profile {
    display: block;
  }

  .btn-remove {
    position: absolute;
    top: 0;
    right: 50px;
    padding: 1.6rem 0.7rem;
  }

  .btn-cancel {
    display: none;
  }

  .btn-search {
    position: absolute;
    top: 0;
    right: 13px;
    display: block;
    width: 44px;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
