.footer__inner {
  max-width: 1025px;
  margin: 0 auto;
  padding: 0 2.4rem;
  color: var(--fc-text);
  font-weight: 300;
}

.footer__service {
  padding-top: 3rem;
}

.footer__link-service {
  display: block;
  margin-right: 2rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

.footer__desc-service {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.footer__copy {
  padding: 1rem 0;
}

.footer__txt-copy {
  margin: 0 0.4rem;
}

.footer__check:checked ~ .footer__list-copy {
  height: 0;
}

.footer__list-copy {
  overflow: hidden;
}

.footer__item-copy {
  padding-top: 1rem;
  line-height: 2rem;
}

.footer__title-copy {
  display: inline-block;
  padding-bottom: 0.5rem;
  color: var(--fc-title);
  font-weight: 400;
}

.footer__movetop {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__link-service {
    float: left;
  }

  .footer__desc-service {
    clear: both;
  }

  .footer__item-copy {
    float: left;
    width: 50%;
  }
}
