/* Common */
.ico-common {
  display: inline-block;
  color: transparent;
  font-size: 1px;
  overflow: hidden;
  background: url('../../images/ico_common.png') no-repeat;
  background-size: 830px 230px;
}

/* Topbnr */
.ico-closew {
  width: 12px;
  height: 12px;
  background-position: -700px -40px;
}

/* Sidemenu */
.ico-mymenu-new {
  position: absolute;
  top: -3px;
  left: 50%;
  width: 15px;
  height: 15px;
  margin-left: 0.6rem;
  background-position: -330px -30px;
}

.ico-buy {
  width: 30px;
  height: 30px;
  background-position: -210px -60px;
}

.ico-gift {
  width: 30px;
  height: 30px;
  background-position: -240px -60px;
}

.ico-coupon {
  width: 30px;
  height: 30px;
  background-position: -270px -60px;
}

.ico-good {
  width: 30px;
  height: 30px;
  background-position: -300px -60px;
}

.ico-sidelogo {
  width: 136px;
  height: 20px;
  background-position: -210px -90px;
}

/* Header */
.ico-menu {
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background-position: -210px -30px;
}

.ico-new {
  position: absolute;
  top: 13px;
  right: 4px;
  width: 4px;
  height: 4px;
  background-color: #fa4637;
  border-radius: 50%;
}

.ico-logo {
  position: absolute;
  left: calc(50% - 81px);
  top: calc(50% - 12px);
  width: 163px;
  height: 24px;
  background-image: url(https://t1.kakaocdn.net/estoreweb/images/20210728172518/m/ico_comm_201125.png);
  background-position: -210px 0;
}

.ico-search {
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background-position: -260px -30px;
}

.ico-remove {
  width: 15px;
  height: 15px;
  background-image: url(https://t1.kakaocdn.net/estoreweb/images/20210728172518/m/ico_comm_201125.png);
  background-position: -350px -90px;
}

.ico-copy {
  width: 9px;
  height: 9px;
  background-position: -310px -30px;
}

.ico-arr {
  width: 7px;
  height: 6px;
  background-position: -300px -30px;
}

.footer__check:checked + .footer__link-copy .ico-arr {
  transform: rotateX(180deg);
}

.ico-movetop {
  width: 44px;
  height: 44px;
  background-position: -350px -30px;
}

.ico-card {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 75px;
  height: 75px;
  background-position: 0px 0px;
  transform: translateX(-50%);
}

.ico-faq-open {
  position: absolute;
  right: 25px;
  top: 23px;
  width: 14px;
  height: 9px;
  background-position: 0 -80px;
  transform: rotateX(180deg);
}

li.on .ico-faq-open {
  transform: rotateX(0deg);
}

@media screen and (min-width: 768px) {
  .ico-menu {
    background-position: -210px -30px;
  }

  .ico-logo {
    left: calc(50% - 95px);
    top: calc(50% - 14px);
    width: 190px;
    height: 28px;
    background-position: -210px 0;
  }

  .ico-new {
    top: 18px;
    right: 6px;
    background-color: #fa4637;
  }

  .ico-search {
    background-position: -260px -30px;
  }

  .ico-remove {
    width: 20px;
    height: 20px;
    background-image: url('../../images/ico_common.png');
    background-position: -350px -90px;
  }

  .btn-remove:hover .ico-remove {
    background-position: -390px -90px;
  }
}
