/* Common */
.ico-common {
  display: inline-block;
  background: url("../../images/ico-common.png") no-repeat;
  background-size: 830px 230px;
}

@media screen and (max-width: 767px) {
  .ico-common {
    background-image: url("../../images/ico-common-mobile.png");
  }
}

/* Top Banner */
.ico-close-topbnr {
  width: 12px;
  height: 12px;
  background-position: -700px -40px;
}
