.header {
  position: fixed;
  width: 100%;
  top: 50px;
  color: #191919;
  background-color: #fff;
  z-index: var(--z-header);
}

.header__inner {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0 1rem;
}

.sidemenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 290px;
  height: calc(100vh - 50px);
  min-width: 280px;
  padding-bottom: 54px;
  /* none -> block */
  display: none;
  background: #fff;
  z-index: var(--z-sidemenu);
}

.sidemenu__inner {
  height: 100%;
  overflow-y: auto;
  padding: 1.8rem 0 1.2rem;
}

.sidemenu__user {
  display: flex;
  align-items: center;
  padding: 1.2rem 2rem;
  gap: 1rem;
}

.sidemenu__user-thumb {
  width: 56px;
  height: 56px;
  border-radius: 22px;
}

.sidemenu__user-info {
  display: flex;
  flex-direction: column;
}

.sidemenu__user-name {
  font-size: 1.8rem;
  font-weight: 700;
}

.sidemenu__user-email {
  font-size: 1.3rem;
  font-weight: 300;
  color: #7f7f7f;
}

.sidemenu__mymenu {
  display: flex;
  width: 100%;
  padding: 1.1rem 0;
}

.sidemenu__mymenu li {
  width: 25%;
  text-align: center;
}

.sidemenu__link-mymenu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.sidemenu__text {
  font-size: 1.3rem;
}

.sidemenu__count {
  display: inline-block;
  color: #fa4637;
}

.sidemenu__nav,
.sidemenu__aside {
  margin-top: 0.9rem;
  padding-top: 1.3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.sidemenu__nav li {
  height: 50px;
}

.sidemenu__aside li {
  height: 40px;
}

.sidemenu__link-nav,
.sidemenu__link-aside {
  height: 100%;
  padding: 1.4rem 2rem 0;
  display: block;
  font-size: 1.6rem;
}

.sidemenu__link-aside {
  font-size: 1.4rem;
  color: #7f7f7f;
}

.sidemenu__link-nav:hover,
.sidemenu__link-aside:hover {
  background: rgba(0, 0, 0, 0.04);
}

.sidemenu__copyright {
  height: 5.4rem;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.sidemenu__link-shop {
  padding: 0.7rem;
}

.sidemenu__link-corp {
  padding: 0.7rem;
  font-size: 1.1rem;
  font-weight: 300;
  color: #999;
}

.sidemenu-overlay {
  /* none -> block */
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--z-sidemenu-overlay);
}

.sidemenu__user-name {
  font-size: 1.8rem;
  font-weight: 700;
}

.sidemenu__user-email {
  font-size: 1.3rem;
  font-weight: 300;
  color: #7f7f7f;
}

.header__title {
  flex: 1;
  height: 100%;
  padding-left: 44px;
  text-align: center;
}

.header__title.search-on {
  padding: 0;
}

.header__link-home {
  position: relative;
  display: inline-block;
  width: 190px;
  height: 100%;
}

.header__btn-menu,
.header__btn-search {
  flex: 0 0 44px;
}

.header__btn-user {
  display: none;
  flex-basis: 48px;
}

.header__user-thumb {
  width: 28px;
  height: 28px;
  border-radius: 11px;
}

.user-modal {
  display: none;
  position: absolute;
  top: 48px;
  right: 2rem;
  width: 200px;
  padding-top: 2rem;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  z-index: var(--z-user-modal);
}

.user-modal__user-thumb {
  width: 40px;
  height: 40px;
  border-radius: 1.8rem;
}

.user-modal__user-info {
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.user-modal__user-name {
  display: block;
  margin: 0.8rem 0 0.2rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.user-modal__user-email {
  color: #999;
  font-size: 1.2rem;
  font-weight: 300;
}

.user-modal__btn-logout {
  padding: 1.4rem;
  font-size: 1.3rem;
}

.gnb {
  background: #fff;
}

.gnb__list {
  max-width: 616px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.gnb__item {
  width: 25%;
}

.gnb__link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
  color: #7f7f7f;
  font-size: 1.6rem;
  text-align: center;
  line-height: 50px;
}

.gnb__item.on .gnb__link {
  color: #191919;
  font-weight: 600;
}

.gnb__item.on .gnb__link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

@media screen and (min-width: 767px) {
  .gnb__item:hover .gnb__link {
    color: var(--tc-gray-0);
    font-weight: 600;
  }

  .gnb__item:hover .gnb__link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .header__btn-user {
    display: block;
  }
}
