.top-banner {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #ae87bd;
  z-index: var(--z-top-banner);
}

.top-banner__inner {
  width: 100%;
  max-width: 960px;
}

.top-banner__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-banner__text {
  font-size: 1.4rem;
}

.top-banner__img {
  width: 50px;
  margin-left: 1rem;
}

.top-banner__btn-close {
  position: absolute;
  top: 0;
  right: 0.5rem;
  padding: 1.9rem 2.2rem;
}
