/* Common */
@import "./reset.css";
@import "./variables.css";

/* Components */
@import "./components/top-banner.css";
@import "./components/header.css";
@import "./components/search-box.css";
@import "./components/footer.css";
@import "./icon.css";

/* Screens */
@import "./screens/home.css";
@import "./screens/policy.css";

#kakaoWrap {
  height: 100%;
  /* 오버레이 열릴 시 max-height으로 임시 변경 */
  min-height: 100vh;
  overflow: hidden;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}
