:root {
  /* Mobile 768 Tablet 1024 Desktop */

  /* Color Palette*/
  /* Common Color */
  --c-white: #fff;
  --c-black: #000;

  /* Font Color */
  --fc-title: #191919;
  --fc-text: #808080;
  --fc-nav: #999999;
  --fc-new: #fa4637;
  --fc-illust: #b1e08b;
  --fc-message: #c0c2f9;
  --fc-animal: #fcbc8b;

  /* Background Colors */
  --bgc-kakao: #ffeb2d;
  --bgc-topbnr: #af88bd;
  --bgc-homebnr-1: #91b6d0;
  --bgc-homebnr-2: #f2abb9;
  --bgc-newbnr: #ffe56a;
  --bgc-hotbnr: #6cccff;
  --bgc-stylebnr: #ff8252;
  --bgc-mypagebnr: #6195ef;
  --bgc-side-hover: #fafafa;
  --bgc-new: #fa4637;
  --bgc-search: #fafafa;
  --bgc-section: #fafafa;
  /* (+opacity: .3) rgba와 달리 상속됨 */
  --bgc-overlay: #191919;

  /* z-index */
  --z-topbnr: 999;
  --z-header: 100;
  --z-sidemenu: 590;
  --z-sidemenu-overlay: 580;
  --z-nav: -1;
  --z-search: 490;
  --z-search-overlay: 480;
  --z-profile: 390;
}
